

<div class="container-fluid mt-4">
<h3 class="text-success"><strong>Products</strong></h3>
<br/>
<table class="table table-md table-striped table-bordered" style="width: 50%;" cellPadding="5px">
    <thead class="table-success">
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th  style="text-align: right;">
            Price
        </th>
        <th  style="text-align: right;">
            Quantity
        </th>
        <th style="text-align:center;">
            Action
        </th>        
    </tr>
    </thead>
    <tr *ngFor="let p of products">
        <td cell>{{p.name}}</td>
        <td>{{p.description}}</td>
        <td style="text-align: right;">{{p.price}}</td>
        <td style="text-align: right;">{{p.quantity}}</td>  
        <td style="text-align: center;"><span><a [routerLink]="['/editproduct',p.id]" class="btn btn-primary bg-primary">Edit</a></span> 
            <button class="btn btn-danger bg-danger ml-2" (click)="del(p.id)"> Delete</button></td>                        
    </tr>
</table>
</div>